<div class="time">
  <div class="col-sm-1">
    <p class="number-of-day">{{currentTime.dayNumber}}</p>
  </div>
  <div class="col-sm-2">
    <p class="month">{{currentTime.monthName}}</p>
    <p class="day">{{currentTime.dayName}}</p>
    <p class="time">{{currentTime.hours}}:{{currentTime.minutes}} <span class="btm-pointer" *ngIf="currentTime.isAM">am</span> <span class="btm-pointer" *ngIf="!currentTime.isAM">pm</span></p>
  </div>
</div>
