div {
  &.time {
    padding: 33px 0;
    &:before, &:after {
      content: " ";
      display: table;
      width: 100%;
    }
  }
}

p {
  line-height: 23px;
  font-size: 19px;
  &.number-of-day {
    font-size: 68px;
    line-height: 55px;
  }
  &.day {
    font-size: 22px;
  }
  &.time {
    font-size: 33px;
    letter-spacing: -3px;
  }
}

