.wrapper {
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0 !important;
  left: 0;
  z-index: -1;
  background: #ccc;
  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 5s;
  }

}

.dark-overlay {
  background: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
