/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

@font-face {
  font-family: RobotoRegular;
  src: url('../assets/fonts/RobotoRegular/RobotoRegular.ttf') format('ttf');
  src: url('../assets/fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype');
  src: url('../assets/fonts/RobotoRegular/RobotoRegular.woff') format('woff');
}

@font-face {
  font-family: RobotoLight;
  src: url('../assets/fonts/RobotoLight/RobotoLight.ttf') format('ttf');
  src: url('../assets/fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype');
  src: url('../assets/fonts/RobotoLight/RobotoLight.woff') format('woff');
}

@font-face {
  font-family: RobotoMedium;
  src: url('../assets/fonts/RobotoMedium/RobotoMedium.ttf') format('ttf');
  src: url('../assets/fonts/RobotoMedium/RobotoMedium.eot') format('embedded-opentype');
  src: url('../assets/fonts/RobotoMedium/RobotoMedium.woff') format('woff');
}

h1, h2, h3, h4, h5, h6, div, p, span {
  color: #fff;
  font-family: RobotoLight, sans-serif;
}

body {
  h4 {
    font-size: 28px;
  }
  p {
    margin: 0 0 0;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: .3px;
  }
}

.page-padding {
  padding-top: 100px;
}

.pac-container {
  span {
    color: #000000 !important;
  }
}

span {
  &.btm-pointer {
    font-size: 15px;
    letter-spacing: .5px;
  }
}

.list-of-weather {
  .column {
    &.active, &:hover {
      svg {
        path {
          fill: #000000;
          transition: fill .3s;
        }
      }
    }
  }
}
