.list-of-weather {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  background: rgba(0, 0, 0, .5);
  .column {
    position: relative;
    width: 10%;
    float: left;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    transform: rotateY(0deg);
    transition: all .2s;
    &.active {
      .hover-overlay {
        background: rgba(255, 255, 255, .6);
      }
      p {
        color: #000000;
        transition: color .2s;
      }
    }
    &:hover {
      transform: perspective(600px) rotateY(-30deg);
      .hover-overlay {
        background: rgba(255, 255, 255, 1);
        transition: background .5s;
      }
      p {
        color: #000000;
        transition: color .3s;
      }
    }
    &.no-transform {
      transform: none;
    }
    .hover-overlay {
      position: absolute;
      top: -7px;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0);
      border-radius: 5px;
      z-index: -1;
    }

    .hover-effect {
      button {
        display: block;
        width: 90%;
        margin: auto;
        background: rgba(0, 0, 0, .4);
        border: none;
        outline: none;
        height: 42px;
        border-radius: 6px;
        color: #fff;
        font-size: 18px;
        font-weight: normal;

        &.active {
          width: 100%;
          background: #fff;
          color: #000000;
          font-weight: bold;
          transition: width .1s;
        }
      }
      &:hover {
        button, button.active {
          width: 90%;
          background: rgba(0, 0, 0, .4);
          color: #fff;
          font-weight: normal;
        }
        button:hover, button.active:hover{
          width: 100%;
          background: #fff;
          color: #000000;
          font-weight: bold;
          transition: width .1s;
        }
      }
    }

    .table {
      display: table;
      width: 100%;
      height: 100%;
      .table-cell {
        height: 100%;
        vertical-align: middle;
      }
    }
    .cloud-img {
      height: 80px;
      width: 79%;
      margin: auto;
      position: relative;
    }
    p {
      color: #fff;
      transition: color .2s;
      font-size: 24px;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 27px;
      font-family: RobotoMedium;
      &.humidity {
        font-size: 33px;
      }
    }
  }

}
