<div class="list-of-weather">
  <div class="container">
    <div class="column no-transform">
      <div class="hover-effect">
        <button (click)="getHourlyWeather()" [ngClass]="{active : appState?.isHourly }">Hour</button>
        <button (click)="getWeekWeather()" [ngClass]="{active : !appState?.isHourly }">Day</button>
      </div>
    </div>
    <div class="column" (click)="changeCurrentPeriod(i)" *ngFor="let item of _weatherList?.data; let i = index"
         [ngClass]="{active : (appState?.selectedPeriod) == i }">
      <div class="hover-overlay"></div>
      <div class="table">
        <div class="table-cell">
          <div class="cloud-img">
            <svg-icons [code]="item.sky.code"></svg-icons>
          </div>
          <p class="time" *ngIf="i == 0">{{appState.isHourly? 'Now': 'Today'}}</p>
          <p class="time" *ngIf="i != 0">{{appState.isHourly? item.date.time: (item.date.date).split('-')[2]}}</p>
          <p class="humidity">{{(item.temp.temp).toString().split('.')[0]}} C</p>
        </div>
      </div>
    </div>
  </div>
</div>
