<background [code]="_selectedWeather?.sky.code"></background>
<div class="page-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h4>{{_selectedWeather?.city}}, {{_selectedWeather?.timezone}}</h4>
      </div>
      <div class="col-sm-4">
        <geolocation></geolocation>
      </div>
    </div>
    <div class="row">
      <time-now></time-now>
    </div>
    <div class="row">
      <temperature [currentWeather]="_selectedWeather"></temperature>
    </div>
    <div class="row">
      <detail-params [currentWeather]="_selectedWeather"></detail-params>
    </div>
  </div>
</div>
<list-of-weather [appState]="_appState"></list-of-weather>
