<div class="detail-params">
  <div class="col-sm-4">
    <p>Feels like: {{currentWeather?.temp?.tempFilling}}</p>
    <p>Sky: {{currentWeather?.sky?.description}}</p>
    <p>Sunrise: {{currentWeather?.sun?.sunrise}} AM</p>
    <p>Sunset: {{currentWeather?.sun?.sunset}} PM</p>
    <p>Wind Speed: {{currentWeather?.wind?.speed}} km/h</p>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <p>Wind Direction: {{currentWeather?.wind?.direction}}</p>
    <p>Visibility: {{currentWeather?.visibility}} meters</p>
    <p>Station: {{currentWeather?.station}}</p>
    <p>Latitude: {{currentWeather?.location?.lat}}</p>
    <p>Longitude: {{currentWeather?.location?.long}}</p>
  </div>
</div>
